.env
.venv
node_modules
*.txt
*.json
/checkpoints/*
/api_requests/*
/.idea
/.vscode
/.DS_Store
/.pytest_cache
/.mypy_cache
/.coverage
/.coverage.*
__pycache__
test_*.docx
test_*.pdf
test_*.txt
test_*.json
test_*.csv
test_*.odt
test.odt
test.docx
venv